.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.849);
}

.navigation-link {
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;
  padding: 4px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: black;
}

.navigation {
  width: 1440px;
  margin: 0 auto 80px;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffffeb;
  border-radius: 0px 0px 40px 40px;
  justify-content: center;
  z-index: 1000;
}

.header {
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px 4px 20px 0px #71090b;
  margin: 0 auto 80px;
}
